#version=RHEL8
# Use graphical install
graphical

repo --name="AppStream" --baseurl=file:///run/install/sources/mount-0000-cdrom/AppStream

%packages
@^server-product-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=ens192 --ethtool="autoneg on" --noipv6 --no-activate
network  --hostname=localhost.localdomain

# Use CDROM installation media
cdrom

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$T52H9yWwz9wfQCDT$t03Z.8mGI2u./3eGqYcql0AHMr8F2ac/jCOdTwNCK4qap9gobKz4qHkbjx4JUFzv/JvuFhVvU.mVkcuO95byU1
user --groups=wheel --name=packer --password=$6$QaGzVtmtAJNEn.lM$D3sqmdqbriju6BVjkKihqF/1y2B4iJMPtsHxdt3CzvhMTsy1wAcScLU9lhmLdCWi7Mdzi5nOCc7rzqJktzMLX/ --iscrypted --gecos="packer"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
